p {
    color: red;
}

#chessTable {
    width: 750px;
    height: 750px;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
}

.highlight {
    position: absolute;
    width: 86px;
    height: 86px;
    border-radius: 43px;
    background-color: rgba(251, 255, 0, 0.3);
    z-index: 10;
}