@media screen and (prefers-color-scheme: light) {
    p {
        color: #292929;
    }

    #header {
        background-color: lightgray;
    }

    body {
        background-color: white;
    }

    #optionMenu {
        background-color: gray;
    }
}

@media screen and (prefers-color-scheme: dark) {
    p {
        color: rgb(255, 255, 255);
    }
    
    #header {
        background-color:#1b1b1b;
    }

    body {
        background-color: black;
    }

    button {
        background-color: #292929;
        color: white;
        border: none;
    }

    button:hover {
        background-color: #494949;
    }

    select {
        background-color: #292929;
        color: white;
        border: none;
    }

    select:hover {
        background-color: black;
    }

    rect {
        fill: black;
    }

    rect {

    }

    #optionMenu {
        background-color: #292929;
    }

    #blackPlayerMove {
        border-width: 1em;
        border-color: white;
    }

    .square.light {
        fill: #6d3600;
    }

    .square.dark {
        fill: #975e26;
    }
}

p {
    font-family:'Georgia';
}

#header {
    width: 100%;
    height: 80px;
    overflow: hidden;
}

#chessTable {
    width: 750px;
    height: 750px;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
}

#header button {
    display: inline-block;
    width: 100px;
    height: 100%;
}

#restart {
    display: none !important;
}

#boardScoreHolder {
    display: inline-block;
    width: 200px;
    height: 100%;
    margin-left: calc(50% - 200px);
    margin-right: auto;
    text-align: center;
}

#scoreTag {
    margin-bottom: 0;
}

.highlight {
    position: absolute;
    width: 86px;
    height: 86px;
    border-radius: 43px;
    z-index: 10;
}

#optionMenu {
    height: 80px;
    width: 750px;
    margin-right: auto;
    margin-left: auto;
}

#whitePlayerMove {
    color: white;
    float: left;
    margin-left: 20px;
}

#blackPlayerMove {
    color: black;
    float: right;
    margin-right: 20px;
}

.playerMove {
    font-family: 'Impact';
    font-size: 1.5em;
}